---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta}>
	<div class="main-content">
		<h1 class="mb-6 title">Oops! Something went wrong <span class="text-gray-500">404</span></h1>
		<p class="mb-8">
			<a href="/" class="cactus-link">Go to the homepage</a> or use the navigation to find your way back.
		</p>
	</div>
	<div class="sidebar"></div>
</PageLayout>
