---
// HOMEPAGE LAYOUT
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreviewTags";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Home",
	description: "This is where I write about things.",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./post/*.md");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);



---

<PageLayout meta={meta}>
	<div class="main-content">
		<section class="mt-20 mb-24">
			<h1 class="mb-6">👋 Hello!</h1>
			<p class="mb-3">
				I’m Kyle Johnston – a designer based in Kansas City, currently working as a product designer at Etsy. I’m married to <a href="https://www.lisaforkansas.com/" title="Lisa Johnston">Lisa</a> and I’m a cat person, hobbyist photographer, and frontend coder. And this is where I write about things.
			</p>
		</section>
		<section aria-label="Blog post list" class="mt-16">
			<h2 class="mb-6 ">Latest Posts</h2>
			<ul class="list-none mx-0">
				{
					allPostsByDate.map((p) => (
						<li class="lg:flex lg:gap-x-2 mb-8 md:mb-10 [&_q]:w-full">
							<BlogPostPreview post={p} as="h3" withDesc />
						</li>
					))
				}
			</ul>
		</section>
	</div>
	<div class="sidebar"></div>
</PageLayout>
