---
const year = new Date().getFullYear();
---

<footer>
	<nav aria-label="More on this site" class="col-span-4">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/post">Everything</a>
	</nav>
	<div class="col-span-2">
		Copyright &copy; {year}
		<span aria-label="wave emoji">👋</span>
		Kyle Johnston
	</div>
</footer>
