---
import ThemeToggle from "./ThemeToggle.astro";
import Logo from './Logo.astro';

// Adding tags
import { getAllTagsWithCount } from "@/util";
import type { Post } from "@/types";
const allPosts = await Astro.glob<Post>("../pages/post/*.md");
const allTags = getAllTagsWithCount(allPosts);
// ^ ^ ^ adding tags ^ ^ ^
const url = new URL(Astro.request.url);
---

<header>
	<div class="content">
		<div class="grid content-center">
			<a href="/" aria-current={url.pathname === "/" ? "page" : false}>
				<Logo />
			</a>
		</div>
		<div class="grid justify-center content-center font-headline" style="color:#101400;">
			<a href="/" aria-current={url.pathname === "/" ? "page" : false}>
				Writing
			</a>
		</div>
		<div class="grid content-center justify-end">
			<ThemeToggle />
		</div>
	</div>
</header>
