<div class="flex flex-wrap items-center sm:items-center gap-x-6">
	<p>Follow along:</p>
	<ul class="relative top-1 flex items-center flex-1 gap-x-6 list-none sm:flex-initial mx-0">
		<li class="m-0 p-0">
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="/rss.xml"
				target="_blank"
				title="Subscribe to my RSS feed"
				rel="noopener noreferrer"
			>
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 00-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
				</svg>
				<span class="sr-only">RSS Feed</span>
			</a>
		</li>
		<li class="m-0 p-0">
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://mastodon.online/@kylejohnston"
				target="_blank"
				title="Follow me on Mastodon"
				rel="noopener noreferrer"
			>
				<svg 
					class="w-6 h-6"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="3 17 28 28"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path d="m 27.897714,32.529464 c -0.348758,1.79348 -3.122191,3.756098 -6.307809,4.136478 -1.661205,0.198412 -3.29657,0.38038 -5.040537,0.30051 -2.85222,-0.130649 -5.102699,-0.68089 -5.102699,-0.68089 0,0.277741 0.01717,0.542109 0.05132,0.789312 0.370803,2.814634 2.791143,2.98341 5.083725,3.062016 2.313905,0.07915 4.374103,-0.570661 4.374103,-0.570661 l 0.09523,2.092183 c 0,0 -1.618559,0.869002 -4.50168,1.028743 -1.590008,0.08746 -3.56401,-0.03993 -5.863459,-0.648363 -4.9866877,-1.320037 -5.8443054,-6.635604 -5.975496,-12.029235 -0.040116,-1.601393 -0.01536,-3.11153 -0.01536,-4.374284 0,-5.515425 3.6135232,-7.131997 3.6135232,-7.131997 1.8220308,-0.836836 4.9485588,-1.188666 8.1988688,-1.215229 h 0.07987 c 3.250309,0.02656 6.378825,0.378393 8.200856,1.215229 0,0 3.613523,1.616572 3.613523,7.131997 0,0 0.04518,4.069076 -0.503981,6.894191"></path>
					<path d="m 9.6976785,24.298466 c 0,-0.802864 0.6508935,-1.453577 1.4535775,-1.453577 0.802864,0 1.453577,0.650713 1.453577,1.453577 0,0.802684 -0.650713,1.453577 -1.453577,1.453577 -0.802684,0 -1.4535775,-0.650893 -1.4535775,-1.453577"></path>
				</svg>
				<span class="sr-only">Mastodon</span>
			</a>
		</li>
		<li class="m-0 p-0">
			<a
				class="inline-block p-2 sm:hover:text-link"
				href="https://twitter.com/kylejohnston/"
				target="_blank"
				title="Follow me on Twitter"
				rel="noopener noreferrer"
			>
				<svg
					class="w-6 h-6"
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
				>
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path
						d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
					>
					</path>
				</svg>
				<span class="sr-only">Twitter</span>
			</a>
		</li>
	</ul>
</div>
